ul{
    list-style: none;
    background-color: black;
    overflow: hidden;
}

ul li{
    float: left;

}

.a{
    text-decoration: none;
    color: white;
    padding: 12px 16px;
    display: block;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.a:hover{
    background-color: white;
    color: black;
}

.nextback{
    cursor: pointer;
    padding: 10px 15px;
    color: white;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    margin-left: 1%;
    color: black;
}